body,html{
    background-color: rgb(4, 1, 20);
    margin: 0;
    padding: 0;
}

.header{
    height: 60px;
    background-color: rgb(23, 20, 37);
    display: flex;
    
}
.headerName{
    width: 40%;
}

.header li{
display: inline;
margin-left: 140px;
}


#btn{
    color: rgb(255, 242, 242);
    font-size: 19px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
#btn:hover{
    border-bottom: 2px solid rgb(255, 242, 242);
    cursor: pointer;
}
.main{
    color: rgb(255, 242, 242);
    display: flex;
    margin-top: -30px;
    height: 550px;
}
.imagexp img{
    width: 236px;
    height: 369px;
    border-radius: 69px;
    margin-top: 80px;
}
.intro{
    width: 65%;
    text-align: center;
    
}
h1{
    color: rgb(255, 242, 242);  
    margin: auto;
    margin-top: 1%;
    margin-left: 5%;
}
.imagexp{
    width: 35%;
    display: flex;
}
#dev{
font-size: 26px;
}
#hello{
    font-size: 46px;
    font-style: normal;
    font-weight: bold;
    margin-top: 200px;
}
.box {
    margin-top: -40px;
    font-size: 2em;
    color: rgb(255, 242, 242);
    font-weight: 900;
}
  
#box1::after {
    content: "am a software developer";
    display: flex;
    transform: rotateX(180deg);
    color: #ddd;
    text-align: center;
    margin-left: 277px;
    opacity:0.2;
}
#experience
{
   display: flex;  
   position: absolute;
   bottom: 0;
     
}

#num{
    font-size: 50px;
    margin-top: 13px;
    color: rgb(58, 205, 196);
}
.xp{
    text-align: start;
    width: fit-content;
    color: rgb(58, 205, 196);
   
}
.footer{
display: flex;
background-color: rgb(23, 20, 37);
}
#foot{
    font-size: 20px;
    color: rgb(58, 205, 196);
    margin-top: 20px;
    margin-bottom: 10px;
}

/* about me page styling */
#about{
    margin-top: 60px;
    padding-left: 20px;
}
#aboutme{
    width:55%;
}
li{
    color: rgb(255, 242, 242);
    font-size: 20px;
}
#aboutpic{
    border: 2px solid white;
}
#aboutpic img{
 height: 300px;
 width: 400px;
}
p{
    color: rgb(255, 242, 242);
    font-size: 23px;
    margin-bottom: 80px;
}
#exper{
    width: 35%;
}
#skills{
    width: 30%;
}
#pers{
    width: 35%;
}
#pic1{
    margin-left: 65px;
    width: 300px;
}
h2{
    color: rgb(255, 242, 242);
}

#icon{
    height: 30px;
}
.footer li{
    display: inline;
    margin-left: 60px;
    margin-right: 60px;

}
/* YOUR FORM */
.contact{
    display: flex;
    width: 80%;
    margin: auto;
}
.con-form p{
    margin-bottom: 60px;
}
.contact li{
    display: inline;
    border-left: 1px solid rgb(58, 205, 196);
    font-size: 20px;
    margin-left: 5px;
    
}
.contact ul{
    margin-top: 5px;
    margin-left: -40px;
}
.contact a{
    text-decoration: none;
    color: rgb(58, 205, 196);
}
.con-form{
    width: 60%;
}

.con-form h3{
    color: rgb(255, 242, 242);
    margin-bottom: 10px;
}
.con-form input{
    width: 400px;
    border-radius: 5px;
    height: 25px;
}
#con-msg{
    height: 100px;
}
.con-info{
    padding: 50px;
}
.con-info h3{
    color: rgb(255, 242, 242);
    margin-bottom: 5px;
}
.con-info h5{
    margin-top: 5px;
    color: rgb(58, 205, 196);
    font-size: 17px;
}